body {
    font-family: "Gabarito", sans-serif;
    padding-top: 10px;
}

html,
body {
    overflow-x: hidden;
}

.Navbar,
.category,
.Recommendations,
.Mumbai--Recommendations,
.Recently--Viewed,
.might--like,
.Advertisement--section__one {
    margin-left: 100px;
    margin-right: 100px;

}

.more--explore,
.footer--section {
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
}

.Navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 130px;
    margin-right: 130px;

}

.Navbar-section__one_image {
    width: 40px;
    height: 40px;
}

.Navbar-section__one {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Navbar-section__two {
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 300;
    font-size: 18px;

}

.Navbar-section__two h3 {
    padding: 10px;
}

.Navbar-section__two__heading1:hover {
    background-color: rgba(211, 211, 211, 0.4);

}

.Navbar-section__two__heading1 {
    border-radius: 30px;
    padding: 10px;

}

.Navbar-section__two__heading:hover {
    text-decoration: underline;
    opacity: 0.5;
    /* color: rgba(0, 0, 0, 0.5);  alternate method for text opacity */

}

.Navbar-section__three p:hover {
    background-color: rgba(211, 211, 211, 0.4);

}

.Navbar-section__three__button {
    border-radius: 30px;
    border-color: black solid 2px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.Navbar-section__three {
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
}

.Navbar-section__three p {
    padding: 10px;
    border-radius: 30px;


}

.category--section {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;

}

.category--section__one {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    gap: 15px;
    cursor: pointer;
}


.category--section__one_search {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* 
.category--section__one p{
    text-decoration: underline;
    text-underline-offset: 10px;
} */


.category--section__two {
    width: 65%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;
    padding: 10px;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.category--section__two input {
    border: none;
    width: 650px;
    align-items: center;
    font-size: 16px;
}

.category--section__two__button {
    color: black;
    background-color: rgb(0, 255, 165);
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;

}

.category--section__two input:focus {
    outline: none;
}


.category--section__two__hotel {
    display: none;
}

.category--section__one_hotel:hover {
    text-decoration: underline;
    text-underline-offset: 10px;

}

/* Hide radio buttons */
/* input[type="radio"] {
      display: none;
    }
    

     #search:checked ~ .content #section1 {
      display: block;
    }

    #hotel:checked ~ .content #section2 {
      display: block;
    } */

.Advertisement--section img {
    height: 550px;
    width: 95%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 50px;
    object-fit: cover;
    display: flex;

}

.Recommendations {
    padding: 40px;
}

.Recommendations--hotels {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    position: relative;

}

.hotel--list img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;


}

.Recommendations--title {
    margin-left: 0;
}

.Recommendations--title__desc {
    margin-left: 0;
    padding-top: 10px;
    font-size: 18px;
}

.Mumbai--Recommendations {
    padding: 40px;
}

.Mumbai--Recommendations--places {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;

}

.Mumbai--Recommendations--title {
    margin-left: 0;
}

.Mumbai--Recommendations--title__desc {
    margin-left: 0;
    padding-top: 10px;
    font-size: 18px;
}

.place--list img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.hotel--list img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.place--list {
    position: relative;
    font-weight: 300;
}

.place--list h3 {

    flex: 1;
}

/* .Mumbai--Recommendations__rating {
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;

}

.Mumbai--Recommendations__rating p{
    height: 10px;
    width:10px;

} */
.place--list span {

    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-size: 2em;

}

.Advertisement--section__heading {

    background-color: transparent;
    position: absolute;
    top: 99%;
    left: 10%;
    color: white;
    font-size: 30px;
}

.Recommendations--section_desc {
    background-color: transparent;
    position: absolute;
    top: 83%;
    padding-left: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.Advertisement--section__heading p {
    font-size: 27px;
    text-wrap: wrap;
    width: 90%;
}

.Advertisement--section__heading h1 {
    font-size: 50px;
}

.Advertisement--section__button {
    color: black;
    background-color: white;
    border-radius: 30px;
    border: none;
    font-weight: 300;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

.Recently--Viewed {
    padding: 40px;

}

.Recently--Viewed--title {
    margin-left: 0;
}

.Recently--Viewed--places {

    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;

}

.might--like {
    padding: 40px;

}

.might--like--title {
    margin-left: 0;
}

.might--like--places {

    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;

}

.might--like--title__desc {
    margin-left: 0;
    padding-top: 10px;
    font-size: 18px;
}

.more--explore {
    padding: 50px;
    background-color: lightgoldenrodyellow;


}

.more--explore--title {
    margin-left: 5%;
}

.more--explore--places {
    display: flex;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80%;
    align-items: flex-start;
    gap: 15px;
    cursor: pointer;
    position: relative;

}

.more--explore__place__list img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.more--explore__place__list {
    position: relative;
    font-weight: 300;
}


.more--explore__place__list span {
    background-color: white;
    color: black;
    width: fit-content;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-size: 2em;

}

.more--explore__place__list h3 {
    flex: 1;
}

.Advertisement--section__one {
    padding: 20px;
    background-color: #E6E6FA;
    height: 40%;
    position: relative;
    width: 75%;
    margin: 10px;
    margin-right: 40%;
}

.Advertisement--section__one_image {
    height: 30%;
    width: 45%;


}

.Advertisement--section__one {
    margin-top: 90px;
    display: flex;
    align-items: center;

}

.Advertisement--section__one__details {

    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 50%;
    color: black;
    font-size: 30px;
    align-items: center;

}


.Advertisement--section__one__details p {
    font-size: 18px;
    text-wrap: wrap;
    width: 90%;
    text-align: center;
    margin-left: 1px;
    padding-top: 30px;
    padding-left: 1px;
    padding-right: 1px;


}

.Advertisement--section__one__details h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

.Advertisement--section__one_logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10%;
    margin-left: 140px;
    text-align: center;
}

.Advertisement--section__one_desc {
    margin-top: -20px;
    text-align: center;

}

.Advertisement--section__but {
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    font-weight: 300;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    margin-left: 200px;


}

.category--one {
    display: flex;
    gap: 60px;
}

.section1 p {
    padding-top: 5px;
    cursor: pointer;
}

.section2 p {
    padding-top: 5px;
    cursor: pointer;
}

.section3 p {
    padding-top: 5px;
    cursor: pointer;
}

.footer--section {
    padding: 40px;
    background-color: #f0f0f0;
    margin-top: 50px;
}

.footer--section__one {
    display: flex;
    justify-content: space-between;
}

.category--one__heading {
    padding-top: 10px;
}

.category--two h3 {
    padding-bottom: 5px;
}

.category--two {

    margin-right: 300px;
}

.footer--section__one_logo {
    width: 40px;
    height: 40px;
    bottom: 10%;
    margin-left: 0;
    padding-bottom: 10px;
}

.footer--section__two__category1 {
    display: flex;
    padding-top: 10px;

}

.copy_rights {
    font-size: 13px;
    margin: 10px;
}

.copy_rights1 {
    margin-bottom: 10px;
    margin-left: 10px;
    text-wrap: wrap;
    display: flex;
    gap: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.two {
    display: inline-block;
}

.footer--section__two {
    display: flex;
    justify-content: space-between;
    margin: 0;
}



.footer--section__two__category2 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-right: 200px;


}


.dropdown-toggle {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    border-radius: 30px;
}

.footer--section__three {
    display: flex;
    text-wrap: wrap;
    justify-content: space-between;
}

.footer_desc p {
    font-size: 13px;
    width: 500px;
}

.footer_link {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-right: 200px;
}

.awards-container {
    background-color: #FFF7E1;
    position: relative;
}

.awards-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.awards-illustration {
    width: 20%;
    align-content: center;
    text-align: start;
    z-index: 2;
}

.awards-illustration__btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: small;
    font-weight: bold;
    margin-top: 20px;

}

.awards-illustration__btn:hover {
    opacity: 0.8;
}

.awards-illustration__btn:active {
    opacity: 0.6;
    transition: 0.5s;

}

.awards-img img {
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    position: relative;
    z-index: 2;

}


.wrapper {
    margin: 50px;
}

.card-container {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2ECF9;
    margin-left: 50px;


}

.card-wrap__img img {
    width: 600px;
    height: 500px;
    padding: 24px;
    border-radius: 50px;
}

.card-sponsored p {
    text-align: center;
    padding: 20px;
}

.card-desc {
    text-align: center;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    position: relative;
}

.card-desc_para{
    padding-top: 10%;
}
.learn_btn {
    padding: 10px;
    margin: 10px;
    background: #222;
    color: white;
    border-radius: 30px;
    position: absolute;
    top: 230px;
    left: 150px;
    
}

.learn_btn:hover {
    opacity: 0.8;
}

.learn_btn:active {
    opacity: 0.6;
    background-color: black;
}

.card-desc__image {
    width: 40px;
    height: 40px;
}

.card-desc img{
    padding-right: 220px;
}
